.topbar {
  height: 10%;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

.topbartext {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
}

.parent {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 90%;
}

.tcon {
  grid-area: 1 / 1 / 2 / 2;
  background-color: white;
}
.acon {
  grid-area: 1 / 2 / 2 / 3;
  background-color: white;
  /* -webkit-box-shadow: 0px 0px 10px -5px #000; */
}

.boxcenter {
  top: 50%;
  left: 50%;
  position: relative;
  padding: 15px;
  transform: translate(-50%, -50%);
  text-align: center;
}

.largeicon {
  transform: scale(2);
}

.livetcontain {
  padding: 20px;
  margin: 20px;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  font-size: 1.4em;
  overflow: scroll;
  height: 85%;
}
