<div class="topbar">
  <div class="topbartext">
    <span style="font-weight: 300; margin-left: 10px; font-size: 1.4em"
      >Ditto - Live
    </span>
  </div>
</div>
<div class="parent">
  <div class="tcon">
    <div class="livetcontain">
      {{ service.text }}
    </div>
  </div>
  <div class="acon">
    <div class="boxcenter">
      <a (click)="startRecord()">
        <mat-icon class="largeicon noastyle">play_circle_outline</mat-icon>
      </a>
      <p>Record</p>
      <br /><br /><br />
      <mat-icon class="largeicon noastyle">arrow_right_alt</mat-icon>
      <p>Proceed</p>
      <br /><br /><br />
      <a href="/"
        ><mat-icon class="largeicon noastyle">exit_to_app</mat-icon></a
      >
      <p>Quit</p>
    </div>
  </div>
</div>
