<div class="fullconatin">
  <div class="leftpanel">
    <div class="panelcenter">
      <div class="mainheading">
        <h1>
          WHO NEEDS NOTES
          <br />
          WHEN YOU HAVE
          <br />
          DITTO!
        </h1>
      </div>

      <div class="minorheading">
        <p>
          <span style="font-style: italic">Ditto</span>
          provides a modern transcript experience that
          <span style="font-style: italic">saves you</span>
          time.
        </p>
      </div>
      <a class="btn noselect" href="/about">About Us</a>
      <a class="btn noselect" href="/contact">Contact the team</a>
    </div>
  </div>
  <div class="rightpanel">
    <div class="bigbuttoncenter">
      <a class="btn noselect" href="/start">GET STARTED DITTO</a>
    </div>
  </div>
</div>
