/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0px;
}

body {
  font-family: "Lato", sans-serif;
}

.btn {
  margin-right: 10px;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 4px;
  display: inline-block;
  color: #000;
  cursor: pointer;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  overflow: hidden;
  padding: 0 22px;
  text-align: center;
  text-transform: uppercase;
  backdrop-filter: blur(10px);
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: transparent;
  transform: scale(1.01);
}

.btn2 {
  width: 50%;
  margin-right: 10px;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 4px;
  display: inline-block;
  color: #000;
  cursor: pointer;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  overflow: hidden;
  padding: 0 22px;
  text-align: center;
  text-transform: uppercase;
  backdrop-filter: blur(10px);
  transition: all 0.2s ease-in-out;
}

.btn2:hover {
  background-color: transparent;
  transform: scale(1.01);
}

.btn:active {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1);
}

.roll-text {
  display: block;
  position: relative;
  transition: all 420ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.roll-text:last-child {
  color: #fff;
}

.rollover:hover .roll-text:first-child {
  margin-top: -38px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

/* Button End*/

.noastyle {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
