<div class="page">
  <a href="/" class="btn">Back</a>
  <h1>Drop Us a Line</h1>
  <div class="banner"></div>
  <br /><br />
  <form action="mailto:contact@example.com" method="get" enctype="text/plain">
    <label for="name">Name</label>
    <br />
    <input type="text" id="name" name="name" />
    <br /><br />
    <label for="email">Email</label>
    <br />
    <input type="text" id="email" name="email" />
    <br /><br />
    <label for="comment">Comment</label>
    <br /><br />
    <textarea type="text" id="comment" name="comment"></textarea>
    <br />
    <br />
    <input type="submit" name="submit" class="btn" value="Send Email" />
  </form>
  <br /><br />
</div>
